<div class="row row-parent style-light limit-width double-top-padding double-bottom-padding">
  <article id="content" class="spree-extn-detail">
    <section class="spreecommerce-subscription">
      <div class="container subscription-container">
        <h1>SpreeCommerce Insights</h1>
        <p class="text-center work-section-title" style="text-align: left;">Better Data, Better Decisions.</p>
        <div class="opensource-top-content" data-type="placeholder" data-marker_id="ext-info-text-1" data-module-type="text_block" data-description="Extension detail info text">
          <div class="text-block-module" data-id="226" data-type="module" data-url-name="text_blocks">
            <p>Don’t you want to know which customers generate the maximum revenue for you and where are they from? Or how did your last marketing campaign perform? SpreeCommerce insights are not regular top-level admin reports but deeper insights into everything from your customers’ shopping behavior to a product’s performance.</p>
            <h3><strong>Why do you need Admin Insights?</strong></h3>
            <p>When it comes to driving an Ecommerce business, knowing the right metrics and access to&nbsp;<strong>relevant data</strong>&nbsp;is half the battle won! This allows you to take immediate and more importantly, the right action. Relevant Data is extremely subjective depending upon the nature of business. You cannot expect the number of page clicks or the number of website visitors etc to drive sales of your SpreeCommerce store. As a SpreeCommerce store owner, a few questions on your mind would be :</p>
            <ul>
              <li>Where from are my most profitable customers?</li>
              <li>Which product sells the most?</li>
              <li>How are people finding my store website?</li>
              <li>Which payment method is the most popular amongst my customers?</li>
              <li>Which shipping vendor is not performing well?</li>
              <li>Which channels are driving traffic?</li>
            </ul>
            <p>We’ve put together all of this and much more in SpreeCommerce Admin Insights for your store.</p>
            <p>To know more about how this extension helps you in reaching better decisions about your store, read on or watch a <a href="#ext-video">video</a>.</p>
            <h3><strong>DEMONSTRATION</strong></h3>
            <p>Below is a demonstration with brief insights into how these reports can drive your business in the right direction.</p>
          </div>
        </div>
        <article class="spree-extn-container">
          <div class="placeholder" data-type="placeholder" data-allow-modules="grid" data-template-file-path="spree-extension-template.html" data-marker_id="spree-exten-grid-1" data-description="Extension Information - Exention Name must be in <h3>Extn name</h3>" data-allow-repeatable-placeholder="true" data-draggable="true">
            <div class="module" data-id="22" data-type="module" data-url-name="grids">
              <div class="grid_cells three-wide-container map" data-type="grid">
                <div class="image-cell" data-type="image">
                  <p class="extn-description" data-attribute="description">Once you are logged into your spree store, click on ‘Insights’ section in the vertical menu bar.</p>
                  <p>&nbsp;</p>
                  <div class="extn-img"><img class="img-fluid" src="https://web.archive.org/web/20201108102446im_/https://s3.amazonaws.com/vinsol-cms/cms-assets/system/asset_versions/attachments/000/000/699/original/admin1-fb4d1fd741daaf4d96d891b345c5a1a5.jpg?1476359034" alt="" data-attribute="image"></div>
                </div>
                <div class="image-cell" data-type="image">
                  <h3 class="subscription-block-title" data-attribute="title"></h3>
                  <p class="extn-description" data-attribute="description">You will now be able to see the expanded ‘Insights’ section which lists the type of insights you can view for your SpreeCommerce store.</p>
                  <p>&nbsp;</p>
                  <div class="extn-img"><img class="img-fluid" src="https://web.archive.org/web/20201108102446im_/https://s3.amazonaws.com/vinsol-cms/cms-assets/system/asset_versions/attachments/000/000/809/original/admin2-bfa86ae15bbabab59070008f70567549.jpg?1476444330" alt="" data-attribute="image"></div>
                </div>
                <div class="image-cell" data-type="image">
                  <h3 class="subscription-block-title" data-attribute="title"></h3>
                  <div class="extn-description" data-attribute="description">
                    <p>Let’s go through all of these, one by one.</p>
                    <ol>
                      <li><strong>Financial Analysis Insights</strong>The following reports are available for financial evaluation</li>
                    </ol>
                  </div>
                  <p>&nbsp;</p>
                  <div class="extn-img"><img class="img-fluid" src="https://web.archive.org/web/20201108102446im_/https://s3.amazonaws.com/vinsol-cms/cms-assets/system/asset_versions/attachments/000/000/808/original/admin3-91a19d9cf792ab25fb76eebb7a1c8aec.jpg?1476444302" alt="" data-attribute="image"></div>
                </div>
                <div class="image-cell" data-type="image">
                  <h3 class="subscription-block-title" data-attribute="title"></h3>
                  <p class="extn-description" data-attribute="description"><strong>Payment method transaction count</strong>&nbsp;can help you figure out the best payments method for your store (you may want to offer discounts on a particular payment method depending on it’s usage or use these in some other way)</p>
                  <p>&nbsp;</p>
                  <div class="extn-img"><img class="img-fluid" src="https://web.archive.org/web/20201108102446im_/https://s3.amazonaws.com/vinsol-cms/cms-assets/system/asset_versions/attachments/000/001/321/original/payment_method_count-1.png?1481607830" alt="" data-attribute="image"></div>
                </div>
                <div class="image-cell" data-type="image">
                  <h3 class="subscription-block-title" data-attribute="title"></h3>
                  <p class="extn-description" data-attribute="description"><strong>Payment Method Transaction Conversion Rate</strong>&nbsp;allows the admin to view success and failure statistics of all payment methods being used.</p>
                  <p>&nbsp;</p>
                  <div class="extn-img"><img class="img-fluid" src="https://web.archive.org/web/20201108102446im_/https://s3.amazonaws.com/vinsol-cms/cms-assets/system/asset_versions/attachments/000/001/322/original/Payment_Method_Transaction_Conversion_Rate-1.png?1481607832" alt="" data-attribute="image"></div>
                </div>
                <div class="image-cell" data-type="image">
                  <h3 class="subscription-block-title" data-attribute="title"></h3>
                  <p class="extn-description" data-attribute="description">Tabular information is also available for list views.</p>
                  <p>&nbsp;</p>
                  <div class="extn-img"><img class="img-fluid" src="https://web.archive.org/web/20201108102446im_/https://s3.amazonaws.com/vinsol-cms/cms-assets/system/asset_versions/attachments/000/001/327/original/Tabular_Payment_Method_Conversion_Rate-1.png?1481607930" alt="" data-attribute="image"></div>
                </div>
                <div class="image-cell" data-type="image">
                  <h3 class="subscription-block-title" data-attribute="title"></h3>
                  <p class="extn-description" data-attribute="description"><strong>Sales performance</strong>&nbsp;depict the profit/loss incurred by your business over different periods of time. There are both profit/Loss and cumulative sales reports (based on Revenue, Taxes, shipping charges and refunds) available in the form of charts and tables.</p>
                  <p>&nbsp;</p>
                  <div class="extn-img"><img class="img-fluid" src="https://web.archive.org/web/20201108102446im_/https://s3.amazonaws.com/vinsol-cms/cms-assets/system/asset_versions/attachments/000/001/325/original/Sales_Performance-1.png?1481607893" alt="" data-attribute="image"></div>
                </div>
                <div class="image-cell" data-type="image">
                  <h3 class="subscription-block-title" data-attribute="title"></h3>
                  <p class="extn-description" data-attribute="description"><strong>Shipping cost</strong>&nbsp;lets you compare monthly usage of all of shipping methods.</p>
                  <p>&nbsp;</p>
                  <div class="extn-img"><img class="img-fluid" src="https://web.archive.org/web/20201108102446im_/https://s3.amazonaws.com/vinsol-cms/cms-assets/system/asset_versions/attachments/000/001/326/original/Shipping_Cost-1.png?1481607895" alt="" data-attribute="image"></div>
                </div>
                <div class="image-cell" data-type="image">
                  <h3 class="subscription-block-title" data-attribute="title"></h3>
                  <p class="extn-description" data-attribute="description"><strong>Sales Tax</strong>&nbsp;report shows total tax charges for ecommerce transactions from different geographic zones</p>
                  <p>&nbsp;</p>
                  <div class="extn-img"><img class="img-fluid" src="https://web.archive.org/web/20201108102446im_/https://s3.amazonaws.com/vinsol-cms/cms-assets/system/asset_versions/attachments/000/000/798/original/admin13-49d3f504639ac182916ba2cabde68eee.jpg?1476444013" alt="" data-attribute="image"></div>
                </div>
                <div class="image-cell" data-type="image">
                  <h3 class="subscription-block-title" data-attribute="title"></h3>
                  <div class="extn-description" data-attribute="description">
                    <p><strong>2.</strong>&nbsp;<strong>Product Analysis Insights</strong></p>
                    <p>The following reports are available for Product performance analysis :</p>
                  </div>
                  <p>&nbsp;</p>
                  <div class="extn-img"><img class="img-fluid" src="https://web.archive.org/web/20201108102446im_/https://s3.amazonaws.com/vinsol-cms/cms-assets/system/asset_versions/attachments/000/000/797/original/admin14-1893a9c7e24a083ca105a1c44bc807a1.jpg?1476443982" alt="" data-attribute="image"></div>
                </div>
                <div class="image-cell" data-type="image">
                  <h3 class="subscription-block-title" data-attribute="title"></h3>
                  <p class="extn-description" data-attribute="description"><strong>Product Add to cart</strong>&nbsp;projects data about how many times a product has been added to the cart.</p>
                  <p>&nbsp;</p>
                  <div class="extn-img"><img class="img-fluid" src="https://web.archive.org/web/20201108102446im_/https://s3.amazonaws.com/vinsol-cms/cms-assets/system/asset_versions/attachments/000/000/796/original/admin15-c5b4f723ae8b8c2e7abb55bb32b9cc5f.jpg?1476443951" alt="" data-attribute="image"></div>
                </div>
                <div class="image-cell" data-type="image">
                  <h3 class="subscription-block-title" data-attribute="title"></h3>
                  <p class="extn-description" data-attribute="description"><strong>Product Removed from cart</strong>&nbsp;projects data about how many time product has been removed from cart.</p>
                  <p>&nbsp;</p>
                  <div class="extn-img"><img class="img-fluid" src="https://web.archive.org/web/20201108102446im_/https://s3.amazonaws.com/vinsol-cms/cms-assets/system/asset_versions/attachments/000/000/795/original/admin16-e2663a4a18a25d026a3ffe3bd43e54c5.jpg?1476443585" alt="" data-attribute="image"></div>
                </div>
                <div class="image-cell" data-type="image">
                  <h3 class="subscription-block-title" data-attribute="title"></h3>
                  <div class="extn-description" data-attribute="description">
                    <p><strong>Product Updation</strong>&nbsp;projects data about how many time in total was the catr updated by customers.</p>
                    <div></div>
                    <p>&nbsp;</p>
                  </div>
                  <div class="extn-img"><img class="img-fluid" src="https://web.archive.org/web/20201108102446im_/https://s3.amazonaws.com/vinsol-cms/cms-assets/system/asset_versions/attachments/000/000/794/original/admin17-cb7bbc189e71571e842440233b3fb620.jpg?1476443510" alt="" data-attribute="image"></div>
                </div>
                <div class="image-cell" data-type="image">
                  <h3 class="subscription-block-title" data-attribute="title"></h3>
                  <p class="extn-description" data-attribute="description"><strong>Product Show Page Views</strong>&nbsp;projects data about how many time a product page has been viewed by users.</p>
                  <p>&nbsp;</p>
                  <div class="extn-img"><img class="img-fluid" src="https://web.archive.org/web/20201108102446im_/https://s3.amazonaws.com/vinsol-cms/cms-assets/system/asset_versions/attachments/000/000/793/original/admin18-e1fdfae86558dde4d7065bc55e89c3ac.jpg?1476443460" alt="" data-attribute="image"></div>
                </div>
                <div class="image-cell" data-type="image">
                  <h3 class="subscription-block-title" data-attribute="title"></h3>
                  <p class="extn-description" data-attribute="description"><strong>Product View to purchases</strong> is the ratio of the number of views (on the product show page) to the number of times the product has been purchased after view.</p>
                  <p>&nbsp;</p>
                  <div class="extn-img"><img class="img-fluid" src="https://web.archive.org/web/20201108102446im_/https://s3.amazonaws.com/vinsol-cms/cms-assets/system/asset_versions/attachments/000/000/792/original/admin19-85b744d4e96ad2fecaca97e90c3c2ec6.jpg?1476443432" alt="" data-attribute="image"></div>
                </div>
                <div class="image-cell" data-type="image">
                  <h3 class="subscription-block-title" data-attribute="title"></h3>
                  <p class="extn-description" data-attribute="description"><strong>Unique Purchases report</strong> is about how many unique users have purchased a particular product.</p>
                  <p>&nbsp;</p>
                  <div class="extn-img"><img class="img-fluid" src="https://web.archive.org/web/20201108102446im_/https://s3.amazonaws.com/vinsol-cms/cms-assets/system/asset_versions/attachments/000/000/791/original/admin20-f8c08f9f6b119e8c1950f402816bccd1.jpg?1476443407" alt="" data-attribute="image"></div>
                </div>
                <div class="image-cell" data-type="image">
                  <h3 class="subscription-block-title" data-attribute="title"></h3>
                  <p class="extn-description" data-attribute="description"><strong>Best selling products</strong>, YES, it’s pretty obvious that these are the best selling products of your store.</p>
                  <p>&nbsp;</p>
                  <div class="extn-img"><img class="img-fluid" src="https://web.archive.org/web/20201108102446im_/https://s3.amazonaws.com/vinsol-cms/cms-assets/system/asset_versions/attachments/000/000/790/original/admin21-031ef6c651c758540feaf2755d210327.jpg?1476443375" alt="" data-attribute="image"></div>
                </div>
                <div class="image-cell" data-type="image">
                  <h3 class="subscription-block-title" data-attribute="title"></h3>
                  <div class="extn-description" data-attribute="description">
                    <p><strong>Returned Products</strong>&nbsp;are here! Time to check for patterns or if a particular product is being returned a lot.</p>
                    <div></div>
                    <p>&nbsp;</p>
                  </div>
                  <div class="extn-img"><img class="img-fluid" src="https://web.archive.org/web/20201108102446im_/https://s3.amazonaws.com/vinsol-cms/cms-assets/system/asset_versions/attachments/000/000/789/original/admin22-f133601d3825782399e2a3e6df8ba10d.jpg?1476443319" alt="" data-attribute="image"></div>
                </div>
                <div class="image-cell" data-type="image">
                  <h3 class="subscription-block-title" data-attribute="title"></h3>
                  <div class="extn-description" data-attribute="description">
                    <p><strong>3.</strong>&nbsp;<strong>Promotion Analysis Insights</strong></p>
                    <p>Lets check how well are the campaigns and sales doing. The following insights are available.</p>
                  </div>
                  <p>&nbsp;</p>
                  <div class="extn-img"><img class="img-fluid" src="https://web.archive.org/web/20201108102446im_/https://s3.amazonaws.com/vinsol-cms/cms-assets/system/asset_versions/attachments/000/000/788/original/admin23-c2afc68a223b74bb672502cfc652a6d8.jpg?1476443286" alt="" data-attribute="image"></div>
                </div>
                <div class="image-cell" data-type="image">
                  <h3 class="subscription-block-title" data-attribute="title"></h3>
                  <p class="extn-description" data-attribute="description"><strong>Promotional cost analysis</strong>&nbsp;lets you compare the costing and usage of various promotions. Thus, assisting you in in deciding their worth.</p>
                  <p>&nbsp;</p>
                  <div class="extn-img"><img class="img-fluid" src="https://web.archive.org/web/20201108102446im_/https://s3.amazonaws.com/vinsol-cms/cms-assets/system/asset_versions/attachments/000/001/324/original/Promotional_Cost_Analysis-1.png?1481607891" alt="" data-attribute="image"></div>
                </div>
                <div class="image-cell" data-type="image">
                  <h3 class="subscription-block-title" data-attribute="title"></h3>
                  <p class="extn-description" data-attribute="description"><strong>Annual Promotional cost</strong>&nbsp;lets you compare the investment done in promotions over a year.</p>
                  <p>&nbsp;</p>
                  <div class="extn-img"><img class="img-fluid" src="https://web.archive.org/web/20201108102446im_/https://s3.amazonaws.com/vinsol-cms/cms-assets/system/asset_versions/attachments/000/001/323/original/Promotional_Analysis-1.png?1481607833" alt="" data-attribute="image"></div>
                </div>
                <div class="image-cell" data-type="image">
                  <h3 class="subscription-block-title" data-attribute="title"></h3>
                  <div class="extn-description" data-attribute="description">
                    <p><strong>4.</strong>&nbsp;<strong>Trending Search Analysis</strong></p>
                    <p>You can view statistics of the keywords which have been searched by customers. This can help you select keywords for tags for better visibility of products and is helpful for inventory forecasts.</p>
                  </div>
                  <p>&nbsp;</p>
                  <div class="extn-img"><img class="img-fluid" src="https://web.archive.org/web/20201108102446im_/https://s3.amazonaws.com/vinsol-cms/cms-assets/system/asset_versions/attachments/000/000/783/original/admin28-7b7184db1e71411159f934c510214c95.jpg?1476443086" alt="" data-attribute="image"></div>
                </div>
                <div class="image-cell" data-type="image">
                  <h3 class="subscription-block-title" data-attribute="title"></h3>
                  <div class="extn-description" data-attribute="description">
                    <p><strong>5. User Analysis</strong></p>
                    <p>The following insights are available for studying user behavior and patterns.</p>
                    <div></div>
                    <p>&nbsp;</p>
                  </div>
                  <div class="extn-img"><img class="img-fluid" src="https://web.archive.org/web/20201108102446im_/https://s3.amazonaws.com/vinsol-cms/cms-assets/system/asset_versions/attachments/000/000/782/original/admin29-cf262f87f58be917b9358d8f79006848.jpg?1476443017" alt="" data-attribute="image"></div>
                </div>
                <div class="image-cell" data-type="image">
                  <h3 class="subscription-block-title" data-attribute="title"></h3>
                  <div class="extn-description" data-attribute="description">
                    <p><strong>User Pool</strong>&nbsp;keeps a track of different types of users – guests, registered users, newly signed up ones etc.</p>
                    <div></div>
                    <p>&nbsp;</p>
                  </div>
                  <div class="extn-img"><img class="img-fluid" src="https://web.archive.org/web/20201108102446im_/https://s3.amazonaws.com/vinsol-cms/cms-assets/system/asset_versions/attachments/000/000/781/original/admin30-0fb29b463ae0456042e6a0d1d56b6f59.jpg?1476442975" alt="" data-attribute="image"></div>
                </div>
                <div class="image-cell" data-type="image">
                  <h3 class="subscription-block-title" data-attribute="title"></h3>
                  <p class="extn-description" data-attribute="description"><strong>Users Not Converted</strong>&nbsp;are your signed up users who never purchased anything. Time for some targeted marketing!</p>
                  <p>&nbsp;</p>
                  <div class="extn-img"><img class="img-fluid" src="https://web.archive.org/web/20201108102446im_/https://s3.amazonaws.com/vinsol-cms/cms-assets/system/asset_versions/attachments/000/000/780/original/admin31-f5375f0f919443fc71467d5af06f0c4c.jpg?1476442937" alt="" data-attribute="image"></div>
                </div>
                <div class="image-cell" data-type="image">
                  <h3 class="subscription-block-title" data-attribute="title"></h3>
                  <p class="extn-description" data-attribute="description"><strong>Users who purchased recently</strong>&nbsp;are your most recent customers.</p>
                  <p>&nbsp;</p>
                  <div class="extn-img"><img class="img-fluid" src="https://web.archive.org/web/20201108102446im_/https://s3.amazonaws.com/vinsol-cms/cms-assets/system/asset_versions/attachments/000/000/755/original/admin32-917c7004c54763520d395825d8306ef4.jpg?1476438413" alt="" data-attribute="image"></div>
                </div>
                <div class="image-cell" data-type="image">
                  <h3 class="subscription-block-title" data-attribute="title"></h3>
                  <div class="extn-description" data-attribute="description">
                    <h3>Search and Filter</h3>
                    <p>Search and filter facility is available for all reports. Depending upon the type of report, the parameters for each report vary. Below are a few examples.</p>
                  </div>
                  <p>&nbsp;</p>
                  <div class="extn-img"><img class="img-fluid" src="https://web.archive.org/web/20201108102446im_/https://s3.amazonaws.com/vinsol-cms/cms-assets/system/asset_versions/attachments/000/000/779/original/admin34-7e6c153d9e38be132b4767cab09072dd.jpg?1476442730" alt="" data-attribute="image"></div>
                </div>
                <div class="image-cell" data-type="image">
                  <h3 class="subscription-block-title" data-attribute="title"></h3>
                  <div class="extn-description" data-attribute="description"></div>
                  <div class="extn-img"><img class="img-fluid" src="https://web.archive.org/web/20201108102446im_/https://s3.amazonaws.com/vinsol-cms/cms-assets/system/asset_versions/attachments/000/000/778/original/admin35-3e42f0c1de31ae172b6703d77776e956.jpg?1476442674" alt="" data-attribute="image"></div>
                </div>
                <div class="image-cell" data-type="image">
                  <h3 class="subscription-block-title" data-attribute="title"></h3>
                  <div class="extn-description" data-attribute="description"></div>
                  <div class="extn-img"><img class="img-fluid" src="https://web.archive.org/web/20201108102446im_/https://s3.amazonaws.com/vinsol-cms/cms-assets/system/asset_versions/attachments/000/000/777/original/admin37-ffe41c7ca60c2f938af4109145cd4381.jpg?1476442633" alt="" data-attribute="image"></div>
                </div>
                <div class="image-cell" data-type="image">
                  <h3 class="subscription-block-title" data-attribute="title"></h3>
                  <div class="extn-description" data-attribute="description"></div>
                  <div class="extn-img"><img class="img-fluid" src="https://web.archive.org/web/20201108102446im_/https://s3.amazonaws.com/vinsol-cms/cms-assets/system/asset_versions/attachments/000/000/776/original/admin38-7b130a71c8c592e4cb55a9f7952287b5.jpg?1476442578" alt="" data-attribute="image"></div>
                </div>
                <div class="image-cell" data-type="image">
                  <h3 class="subscription-block-title" data-attribute="title"></h3>
                  <div class="extn-description" data-attribute="description">
                    <h3>Save Reports</h3>
                    <p>All reports can be saved in various formats. Few options available are depicted in images below.</p>
                  </div>
                  <p>&nbsp;</p>
                  <div class="extn-img"><img class="img-fluid" src="https://web.archive.org/web/20201108102446im_/https://s3.amazonaws.com/vinsol-cms/cms-assets/system/asset_versions/attachments/000/000/775/original/admin40-79d1c75b698f59706d892d7123b5f3a9.jpg?1476442531" alt="" data-attribute="image"></div>
                </div>
                <div class="image-cell" data-type="image">
                  <h3 class="subscription-block-title" data-attribute="title"></h3>
                  <div class="extn-description" data-attribute="description"></div>
                  <div class="extn-img"><img class="img-fluid" src="https://web.archive.org/web/20201108102446im_/https://s3.amazonaws.com/vinsol-cms/cms-assets/system/asset_versions/attachments/000/000/774/original/admin41-7feadfc319d98e7b203bd2c824cb6f4f.jpg?1476442505" alt="" data-attribute="image"></div>
                </div>
                <div class="image-cell" data-type="image">
                  <h3 class="subscription-block-title" data-attribute="title"></h3>
                  <div class="extn-description" data-attribute="description">
                    <p>That’s not all! You can also perform the following actions :</p>
                    <div></div>
                    <p>&nbsp;</p>
                  </div>
                  <div class="extn-img"><img class="img-fluid" src="https://web.archive.org/web/20201108102446im_/https://s3.amazonaws.com/vinsol-cms/cms-assets/system/asset_versions/attachments/000/000/773/original/Screen_Shot_2016-05-24_at_4.13.08_pm.png?1476442430" alt="" data-attribute="image"></div>
                </div>
                <div class="ext-text-block" data-type="text_block">
                  <div class="ext-text-data" data-attribute="content">
                    <p><span id="ext-video"></span>This is just the beginning. We continue to improvise further and increase reporting options for your SpreeCommerce insights.</p>
                    <p>Follow us on <strong><a href="https://web.archive.org/web/20201108102446/https://twitter.com/the_vinsol" target="_blank" rel="noopener noreferrer">Twitter</a></strong> or go back to our <strong><a href="https://web.archive.org/web/20201108102446/http://vinsol.com/spreecommerce-extensions" target="_blank" rel="noopener noreferrer">Spree Extensions List</a>.</strong></p>
                  </div>
                </div>
                <p>&nbsp;</p>
              </div>
            </div>
          </div>
          <div class="placeholder StoryHero StoryHero--left StoryHero--dark vinsol-video" data-type="placeholder" data-marker_id="story-video-section" data-edit-style="min-height: 100px; width: 100%; margin-top: 30px" data-description="Please upload a Video" data-template-file-path="spree-extension-template.html" data-allow-modules="grid" data-allow-repeatable-placeholder="true" data-draggable="true">
            <div class="module" data-id="133" data-type="module" data-url-name="grids">
              <div class="grid_cells three-wide-container map" data-type="grid">
                <div class="module module--video" data-type="video" data-youtube_id="9D4e2xVibIM" data-overlay="false">
                  <div class="video container--small" data-attribute="name">
                    <div class="title hide vidoe-title-for-iframe" data-attribute="title"></div>
                    <div class="video__embed js-video-embed HeroVideo"></div>
                  </div>
                  <div class="video-background">
                    <div class="description" data-attribute="description"></div>
                    <div class="video-foreground text-center">
                      <p><!-- <iframe src="https://www.youtube.com/embed/zIz1RTZxnvY?controls=0&showinfo=0&rel=0&autoplay=1&loop=1&playlist=fs9dat1wr1M" frameborder="0" allowfullscreen></iframe> --><iframe style="width: 100%; max-width: 560px;" src="https://web.archive.org/web/20201108102446if_/https://www.youtube.com/embed/9D4e2xVibIM?rel=0" height="315" frameborder="0" allowfullscreen="allowfullscreen" data-attribute="url"></iframe></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="placeholder StoryHero StoryHero--left StoryHero--dark vinsol-video" data-type="placeholder" data-marker_id="story-video-section-14092018110601047" data-edit-style="min-height: 100px; width: 100%; margin-top: 30px" data-description="Please upload a Video" data-template-file-path="spree-extension-template.html" data-allow-modules="grid" data-allow-repeatable-placeholder="true" data-draggable="true" data-cloned-repeatable-placeholder="true"></div>
        </article>
      </div>
    </section>
  </article>

</div>
